name: CI

on:
  push:
  pull_request:

env:
  CARGO_TERM_COLOR: always
  RUST_BACKTRACE: 1
  RUSTFLAGS: -Dwarnings

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        rust:
          - "stable"
          - "nightly"
          - "1.37" # MSRV

    steps:
      - name: checkout
        uses: actions/checkout@v3

      - name: install toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ matrix.rust }}
          override: true
          profile: minimal
          components: clippy, rustfmt

      - name: test
        run: cargo test --all --features serde

      - name: fmt
        if: matrix.rust == 'stable'
        run: cargo fmt -- --check

      - name: clippy
        run: cargo clippy --features serde
